<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teach.paike.mapper.LessonScheduleRecordMapper">

    <resultMap type="LessonScheduleRecord" id="LessonScheduleRecordResult">
                    <result property="id" column="id"/>
                    <result property="lessonScheduleId" column="lesson_schedule_id"/>
                    <result property="name" column="name"/>
                    <result property="json" column="json"/>
                    <result property="createTime" column="create_time"/>
            </resultMap>
    
    <sql id="selectLessonScheduleRecordVo">
        select t.*
        from tpk_lesson_schedule_record t
    </sql>

    <select id="selectLessonScheduleRecordList" parameterType="LessonScheduleRecord" resultMap="LessonScheduleRecordResult">
        <include refid="selectLessonScheduleRecordVo"/>
        <where>
                                                                                                    <if test="lessonScheduleId != null ">and t.lesson_schedule_id = #{lessonScheduleId}</if>
                                                                                                            <if test="name != null  and name != ''">and t.name like concat('%', #{name}, '%')</if>
                                                                                                            <if test="json != null  and json != ''">and t.json = #{json}</if>
                                                                                    </where>
        order by t.id desc
    </select>

    </mapper>